.navbar
	$height: 40px
	position: relative
	width: 100%
	height: $height
	border-bottom: 1px solid
	&.navbar-default
		background: #fff
		border-color: #eee
		color: #333
		.icon
			color: #333
	.center
		margin: 0 auto
	.right
		position: absolute
		top: 0
		right: 0
	.bland,
	.navbar-btn-icon
		text-align: center
	.bland
		height: $height
		font-family: 'Yantramanav', sans-serif
		font-weight: 100
		font-size: 24px
		line-height: $height
	.navbar-btn-icon
		$margin: 10px
		height: $height - $margin
		width: $height - $margin
		margin: $margin / 2
		line-height: $height - $margin
		border-radius: 100%
		.icon
			font-size: 18px