<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
	title Home | UET
	link(rel="stylesheet" href="stylesheets/ionicons.min.css")
	link(rel="stylesheet" href="stylesheets/main.css")
body
	.container
		include parts/_navbar

		include parts/_dist-list

		